label#setting-screen-delete-button-label {
    font-color: black;
    width: 250;
}

button#setting-screen-delete-button {
    border-radius: 10px;
    background-color: red;
    background-color: linear-gradient(#8B0000, #B22222);
    font-size: 18pt;
    font-align: left;
    height: 50;
    width: 250;
}
